{
  "plugins": [  "external-helpers"],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "since 2015"
          ]
        },
        "modules": false
      }
    ]
  ]
}
