{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "since 2015"
          ]
        },
        "modules": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [[
        "env",
        {
          "targets": {
            "browsers": [
              "since 2015"
            ]
          }
        }
      ]]
    }
  }
}
